page-list-master {
  .divHeight {
    height: 40px;
  }
  .centerAlign {
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
  }
  .buttonMargin {
    margin-right: 5px!important;
  }

  ion-grid {
    border: thin solid black;
  }
}
